
.container {
  margin: 0 auto;
  min-width: 500px;
  width: 45%;
  text-align: left;
  color: #3b3b3b;
  font-weight: bold;
}

form.tasks-create {
  outline: 0;
  height: 37px;
  margin-top: 5%;
  border: 1px solid #3b3b3b;
}

form.tasks-create > input[type="text"] {
  outline: 0;
  width: 55%;
  height: 32px;
  border: none;
  font-size: 18px;
  font-weight: normal;
  padding-left: 10px;
}

.add {
  outline: 0;
  width: 20%;
  height: 36px;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: #3b3b3b;
}

.filtr {
  outline: 0;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background-color: #3b3b3b;
}

ul {
  padding: 0;
  text-align: left;
  list-style: none;
}

hr {
  border-bottom: 0;
  margin: 15px 0;
}

input[type="checkbox"] { width: 30px; }

.remove {
  float: right;
  cursor: pointer;
}

.completed { text-decoration: line-through; }

.justdoit {
  display:block;
  margin:auto;
}

.row {
  margin-bottom: 1px;
  border: 1px solid black;
}

.main_content {
    border-left: 1px solid black;
}

#user_name {
  text-align: right;
}

.img-fluid {
  display:block;
  margin:auto;
}

#menu {text-align: center;}

#vremya {
  font-size: 10px;
}

.f1 {
  display: inline-block;
}