{% load static %}
<html>
  <head>
    <title>{% block title %}Туду-дуду{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <img src="{% static 'images/justdoit.jpg' %}" class="justdoit">
      </div>
      <div class="row">

        <div class="side_bar col">
          {% block side_bar %}
            {% if user.is_authenticated %}
              <h2 id="user_name">{{ user.first_name }}</h2>
              <img src="{% static 'images/default_ava.jpg' %}" class="img-fluid">

              <ul id="menu">
                <li><a href="{% url "tasks:create" %}">добавить задачу</a></li>
                <li><a href="{% url "tasks:list" %}">задачи</a></li>
                <li><a href="{% url "edit" %}">профиль</a></li>
                <li><a href="{% url "logout" %}">выйти</a></li>
              </ul>
            {% endif %}
          {% endblock %}
        </div>

        <div class="main_content col-8">
          
          {% block main_content %}
          {% endblock %}
    
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="alert alert-{{ message.tags }} alert-dismissable">
                  {{ message }}
                  <a href="#" class="close" data-dismiss="alert">x</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>
      </div>
      <div class="row" style="background-color: {{ fcolor }}; color: white;">
        {{ vremya_s }}
      </div>
    </div>
<p></p>
  </body>
</html>